<!-- classes.hbs -->

{{!-- Create a table --}}


<table id="class-table" border = "1" cellpadding = "5">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the classID, className, credit, departmentID, and professorID, in order --}}
        {{#each data}}
        <tr data-value={{this.classID}}>>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>
            <td>{{this.credit}}</td>
            <td>{{this.departmentID}}</td>
            <td>{{this.professorID}}</td>
            <td><button onclick="deleteClass({{this.classID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_class.js"></script>


{{!-- Form to search for a class record in the table --}}


<h2>Search for a Class</h2>
<p>Search by the class name using the field below. Partial class names are OK too!</p>
<form id = "search-class-html" method = 'GET' action = '/'>
    <label for "input-className">Search by Class Name: </label>
    <input type = "text" name = "className" id = "input-className-html-search">

    <input type = "submit">
    <a href = '/classes'><button>Reset</button></a>
</form>

{{!-- Form to add a record to the Classes table  --}}

<h2>Add a Class</h2>
<p>To add a new Class, please enter the information below and click 'Submit'!</p>
<form id="add-class-form-ajax">
    <label for="input-className">Class Name: </label>
    <input type="text" name="input-className" id="input-className-ajax">
    
    <label for="input-credit">Credit: </label>
    <input type="number" name="input-credit" id="input-credit-ajax">

    <label for="input-departmentID">Department ID: </label>
    <select name = "input-departmentID" id = "input-departmentID-ajax">
        <option value = "">Select a Department</option>
        {{#each departments}}
        <option value = "{{this.departmentID}}">{{this.departmentName}}</option>
        {{/each}}
    </select>

    <label for="input-professorID">Professor ID: </label>
    <select name = "input-professorID" id = "input-professorID-ajax">
        <option value = "">Select a Professor</option>
        {{#each professor}}
        <option value = "{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_class.js"></script>


{{!-- Form to Update the Credit of a record in the Classes table  --}}

<h2>Updating A Class's Professor Form</h2>
<p>To update a specific Class's Professor ID select the class name from the drop-down menu on the left and their desired professor from the drop down menu on the right.</p>
<form id="update-class-form-ajax">

    <label for="input-className">Class name: </label>
    <select name="input-className" id="mySelectClass">
        <option value="test">Select a Class</option>
        {{#each data}}
        <option value="{{this.classID}}">{{this.className}}</option>
        {{/each}}
    </select>

    <label for="input-professor">Professor: </label>
    <select name="input-professor" id="input-professor-update">
        <option>Select a Professor</option>
        {{#each professors}}
        <option value="{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>
    
    <input type="submit">

</form>

<script src="./js/update_class.js"></script>
