{{!-- Create a table --}}
<h2>Students Has Professors</h2>
    <p>This is our Students_has_Professors M:N Table, and we are demonstrating CRUD operations for this Table</p>
<table id="student-has-professor-table" border = "1" cellpadding = "5">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the StudentHasProfessorID, the studentID, and the professorID --}}
        {{#each data}}
        <tr data-value={{this.StudentHasProfessorID}}>
            <td>{{this.StudentHasProfessorID}}</td>
            <td>{{this.studentID}}</td>
            <td>{{this.professorID}}</td>
            <td><button onclick="deleteStudentHasProfessor({{this.StudentHasProfessorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_studentHasProfessor.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add an Entry</h2>
<p>To add a new record, please enter their information below and click 'Submit'!</p>
<form id="add-studentHasProfessor-form-ajax">
    <label for="input-studentID">Student ID: </label>
    <select name = "input-studentID" id = "input-studentID-ajax">
        <option value = "">Select a Student</option>
        {{#each students}}
        <option value = "{{this.studentID}}">{{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-professorID">Professor ID: </label>
    <select name = "input-professorID" id = "input-professorID-ajax">
        <option value = "">Select a Professor</option>
        {{#each professors}}
        <option value = "{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_studentHasProfessor.js"></script>


{{!-- Form to Update the Credit of a record in the student_has_professors table  --}}

<h2>Updating An Entry</h2>
<p>To update a specific entry name select the ID from the drop-down menu on the left and fill in the fields on the right.</p>
<form id="update-studentHasProfessor-form-ajax">

    <label for="input-studentHasProfessorID">ID to change: </label>
    <select name="input-studentHasProfessorID" id="mySelectStudentHasProfessor">
        <option value="test">Select an ID to change </option>
        {{#each data}}
        <option value="{{this.StudentHasProfessorID}}">{{this.StudentHasProfessorID}}</option>
        {{/each}}
    </select>

    <label for="input-student">Student: </label>
    <select name="input-student" id="input-student-update">
        <option>Select a Student</option>
        {{#each students}}
        <option value="{{this.studentID}}">{{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-professor">Professor: </label>
    <select name="input-professor" id="input-professor-update">
        <option>Select a Professor</option>
        {{#each professors}}
        <option value="{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>

    <input type="submit">

</form>

<script src="./js/update_studentHasProfessor.js"></script>