{{!-- Create a table --}}
<h2>Students Has Professors</h2>
    <p>This is our Students_has_Professors M:N Table, and we are demonstrating CRUD operations for this Table</p>
<<<<<<< HEAD
<table id="class-table" border = "1" cellpadding = "5">
=======
<table id="student-has-professor-table" border = "1" cellpadding = "5">
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the StudentHasProfessorID, the studentID, and the professorID --}}
        {{#each data}}
        <tr data-value={{this.StudentHasProfessorID}}>
            <td>{{this.StudentHasProfessorID}}</td>
            <td>{{this.studentID}}</td>
            <td>{{this.professorID}}</td>
<<<<<<< HEAD
            <td><button onclick="deleteDepartment({{this.StudentHasProfessorsID}})">Delete</button></td>
=======
            <td><button onclick="deleteStudentHasProfessor({{this.StudentHasProfessorID}})">Delete</button></td>
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
        </tr>
        {{/each}}
    </tbody>
</table>
<<<<<<< HEAD
<script src="./js/delete_department.js"></script>


{{!-- Form to search for a class record in the table --}}
<h2>Search for an Entry</h2>
<p>Search by the department name using the field below. Partial class names are OK too!</p>
<form id = "search-class-html" method = 'GET' action = '/'>
    <label for "input-departmentName">Search by Class Name: </label>
    <input type = "text" name = "departmentName" id = "input-departmentName-html-search">

    <input type = "submit">
    <a href ='/departments'><button>Reset</button></a>
</form>

{{!-- Form to add a record to the Classes table  --}}

<h2>Add an Entry</h2>
<p>To add a new Department, please enter their information below and click 'Submit'!</p>
<form id="add-class-form-ajax">
    <label for="input-className">Class Name: </label>
    <input type="text" name="input-className" id="input-className">
    
    <label for="input-credit">Credit: </label>
    <input type="number" name="input-credit" id="input-credit">

    <label for="input-departmentID">Department ID: </label>
    <select name = "input-departmentID" id = "input-departmentID-ajax">
        <option value = "">Select a Department</option>
        {{#each departments}}
        <option value = "{{this.departmentID}}">{{this.departmentName}}</option>
=======
<script src="./js/delete_studentHasProfessor.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add an Entry</h2>
<p>To add a new record, please enter their information below and click 'Submit'!</p>
<form id="add-studentHasProfessor-form-ajax">
    <label for="input-studentID">Student ID: </label>
    <select name = "input-studentID" id = "input-studentID-ajax">
        <option value = "">Select a Student</option>
        {{#each students}}
        <option value = "{{this.studentID}}">{{this.lastName}}</option>
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
        {{/each}}
    </select>

    <label for="input-professorID">Professor ID: </label>
<<<<<<< HEAD
    <input type="number" name="input-professorID" id="input-professorID">
=======
    <select name = "input-professorID" id = "input-professorID-ajax">
        <option value = "">Select a Professor</option>
        {{#each professors}}
        <option value = "{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<<<<<<< HEAD
<script src="./js/add_class.js"></script>


{{!-- Form to Update the Credit of a record in the Classes table  --}}

<h2>Updating An Entry</h2>
<p>To update a specific Department's name select the department name from the drop-down menu on the left and fill in the name on the right.</p>
<form id="update-class-form-ajax">

    <label for="input-className">Class name: </label>
    <select name="input-className" id="mySelect">
        <option value="test">Select a Class</option>
        {{#each data}}
        <option value="{{this.classID}}">{{this.className}}</option>
=======
<script src="./js/add_studentHasProfessor.js"></script>


{{!-- Form to Update the Credit of a record in the student_has_professors table  --}}

<h2>Updating An Entry</h2>
<p>To update a specific entry name select the ID from the drop-down menu on the left and fill in the fields on the right.</p>
<form id="update-studentHasProfessor-form-ajax">

    <label for="input-studentHasProfessorID">ID to change: </label>
    <select name="input-studentHasProfessorID" id="mySelectStudentHasProfessor">
        <option value="test">Select an ID to change </option>
        {{#each data}}
        <option value="{{this.StudentHasProfessorID}}">{{this.StudentHasProfessorID}}</option>
        {{/each}}
    </select>

    <label for="input-student">Student: </label>
    <select name="input-student" id="input-student-update">
        <option>Select a Student</option>
        {{#each students}}
        <option value="{{this.studentID}}">{{this.lastName}}</option>
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
        {{/each}}
    </select>

    <label for="input-professor">Professor: </label>
    <select name="input-professor" id="input-professor-update">
        <option>Select a Professor</option>
        {{#each professors}}
        <option value="{{this.professorID}}">{{this.lastName}}</option>
        {{/each}}
    </select>
<<<<<<< HEAD
=======

>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
    <input type="submit">

</form>

<<<<<<< HEAD
<script src="./js/update_class.js"></script>
=======
<script src="./js/update_studentHasProfessor.js"></script>
>>>>>>> d4a4ee4210b3c60c2fc533b673ade66adbcbd758
